<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong><span class="fa fa-cogs"></span> {{lang.config}}</strong>
            </div>
            <div class="panel-body">
                <div class="container-fluid">
                    <form role="" name="myForm" id="myForm">
                        <div class="row form-horizontal" ng-init="indextab = 2">
                            <h1>demo 213213</h1>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>