<div class="box-2" ng-controller="itemMatchedListCtrl">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Danh sách vật phẩm trùng khớp</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-lg-12">
            <div class="col-md-3 col-xs-6">
                <div class="form-group">
                    <label class="control-label">Thể loại</label>
                    <select ng-model="search.category" class="form-control input-sm">
                        <option value="" ng-selected="true">Tất cả</option>
                        <option value="{{cat.categoryId}}" ng-repeat="cat in categoryList">{{cat.categoryName}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="form-group">
                    <label class="control-label">Vị trí</label>
                    <select ng-model="search.location" class="form-control input-sm">
                        <option value="" ng-selected="true">Tất cả</option>
                        <option value="{{loc.locationId}}" ng-repeat="loc in locationList">{{loc.name}}</option>
                    </select>
                </div>
                <div class="form-group text-right">
                    <button type="button" class="btn btn-primary btn-xs" ng-click="getList()">
                        <i class="fa fa-search"></i> Tìm</button>
                </div>
            </div>
            <!-- <div class="col-md-3 col-xs-6">
                    <div class="form-group">
                        <label class="control-label">Từ ngày</label>
                        <input name="fromDate" ng-model="search.fromDate" type="text" class="form-control input-sm">
                    </div>
                </div> -->
            <div class="col-md-3 col-xs-6">
                <!-- <div class="form-group">
                        <label class="control-label">Đến ngày</label>
                        <input name="toDate" ng-model="search.toDate" type="text" class="form-control input-sm">
                    </div>                 -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-lg-12 box-3">
            <!-- <div class="form-group">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-xs" ng-click="viewItem(selectedRow.itemId)" ng-disabled="!selectedRow">
                        <i class="fa fa-search"></i> Xem</button>
                </div>
            </div> -->
            <div class="form-group">
                <div id="itemList" ui-grid-selection ui-grid-resize-columns ui-grid="itemList" class="grid">
                    <span ng-show="itemList.data.length==0" class="grid-status">Không có dữ liệu</span>
                </div>
            </div>
        </div>
    </div>
</div>