<div class="login-page" ng-controller="loginCtrl">
    <div class="panel-lite">
        <div class="thumbur">
            <div class="icon-lock"></div>
        </div>
        <h4>Hệ thống tìm kiếm vật thất lạc</h4>
        <form ng-show="!isRegister" role="form" id="login-form" name="loginForm">
            <div class="box-input">
                <input class="box-control" name="email" ng-model="email" autofocus ng-class="{
                        'input-error': loginForm.email.$invalid &&  loginForm.email.$touched }" title="Địa chỉ Email là bắt buộc"
                    required>
                <label class="box-label">Email</label>
            </div>
            <div class="box-input">
                <input class="box-control" name="password" type="password" ng-model="password" maxlength="30" ng-class="{
                        'input-error': loginForm.password.$invalid && loginForm.password.$touched }" title="Mật khẩu là bắt buộc"
                    required>
                <label class="box-label">Mật khẩu</label>
            </div>
            <a class="link" ng-click="isRegister = true">Đăng ký thành viên</a>
            <button class="floating-btn" ng-click="login()">
                <i class="icon-arrow"></i>
            </button>
        </form>
        <form ng-show="isRegister" role="form" id="register-form" name="registerForm">
            <div class="box-input">
                <input class="box-control" name="lastName" ng-model="item.last_name" autofocus ng-class="{
                            'input-error': registerForm.lastName.$invalid && registerForm.lastName.$touched }" title="Họ tên là bắt buộc"
                    required>
                <label class="box-label">Họ</label>
            </div>
            <div class="box-input">
                <input class="box-control" name="firstName" ng-model="item.first_name" ng-class="{
                            'input-error': registerForm.first_name.$invalid && registerForm.first_name.$touched }" title="Họ tên là bắt buộc"
                    required>
                <label class="box-label">Tên</label>
            </div>
            <div class="box-input">
                <input class="box-control" ng-pattern="emailPattern" name="email" ng-model="item.email" autofocus ng-class="{
                        'input-error': registerForm.email.$invalid && registerForm.email.$touched }" title="Địa chỉ Email là bắt buộc"
                    required>
                <label class="box-label">Email</label>
            </div>
            <div class="box-input">
                <input class="box-control" name="password" type="password" ng-model="item.password" maxlength="30" ng-class="{
                        'input-error': registerForm.password.$invalid && registerForm.password.$touched }" title="Mật khẩu là bắt buộc"
                    required>
                <label class="box-label">Mật khẩu</label>
            </div>
            <div class="box-input">
                <input class="box-control" ng-pattern="item.password" name="rePassword" type="password" ng-model="item.repassword" maxlength="30"
                    ng-class="{
                        'input-error': (registerForm.rePassword.$touched && registerForm.rePassword.$error.pattern) || (registerForm.rePassword.$invalid && registerForm.rePassword.$touched) }"
                    title="Mật khẩu là bắt buộc" required>
                <label class="box-label">Nhập lại mật khẩu</label>
            </div>
            <a class="link" ng-click="isRegister = false">Quay lại đăng nhập</a>
            <button class="floating-btn" ng-click="register()">
                <i class="fa fa-check"></i>
            </button>
        </form>
    </div>
</div>