body {
    background: #f3f3f3;
    font-size: 12.5px;
    color: #333!important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: 'Muli', "Helvetica", Arial, sans-serif;
}



.has-error{
    border-color: rgba(247, 17, 17, 0.84);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 2px rgba(230, 38, 38, 0.75);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 2px rgba(230, 38, 38, 0.75);
}
.input-sm{
    font-size: 12.5px;
    height: 26px!important;
}
input[type=radio] {
    margin: 1px 0 0;
    line-height: normal;
}
textarea.input-sm{
    height: auto!important;
}
.form-horizontal .control-label {
    padding-top: 5px;
}
.no-padding{
    padding: 0;
}
.no-margin{
    margin: 0;
}
.text-left{
    text-align: left!important;
}

.text-right{
    text-align: right!important;
}
.form-control:focus {
    border-color: rgba(102, 113, 8, 0.75);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 2px rgba(102, 113, 8, 0.72);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 2px rgba(102, 113, 8, 0.72);
}
button, textarea, input, select{
    outline: none!important;
}
.loading {
    width: 40px;
    height: 40px;
    position: fixed;
    margin: 100px auto;
    z-index: 9999;
    top: 29%;
    left: 49%;
}
.loading i{
    /*color: #da9a32;*/
    color: #ffffff;
    z-index: 10001;
    position: absolute;
}
/*ui-grid - START*/
.ui-grid-column-menu-button{
    display: none;
    visibility:  hidden;
}
.grid .grid-status{
    position: absolute;
    top: 50px;
    left: 40%;
}
.ui-grid {
    border: 1px solid #258a3f!important;
}
.ui-grid-header {
    border-bottom: 1px solid #258a3f!important;
}
.ui-grid-top-panel {
    text-shadow: 0px 1px 2px rgba(119, 187, 118, 0.76);
    background: #11983b;  
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #8dc383), color-stop(1, #11983b))!important;
}
.ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-header-cell:last-child {
    border-right-color: #258a3f!important;
}
.ui-grid-header-cell {
    border-color: #258a3f!important;
}
.ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-cell:last-child {
    border-right-color: #dad1c9!important;
}
.ui-grid-row .ui-grid-cell.ui-grid-row-header-cell {
    border-bottom: solid 1px #dad1c9!important;
}
.ui-grid-cell {
    border-color: #dad1c9!important;
}
.ui-grid-cell-contents {
    /* border-bottom: 1px solid #dad1c9!important; */
}
.ui-grid-header .ui-grid-cell-contents {
    border-bottom: 1px solid transparent!important;
}
.ui-grid-header-cell:last-child .ui-grid-column-resizer.right {
    border-right: 1px solid #258a3f!important;
}
.ui-grid-icon-ok{
    font-size: 13.5px;
}
/*ui-grid - END*/

/*button - START*/
button.btn-primary {
    height: 30px !important;
    min-width: 70px;
    font-weight: 600;
    text-align: left;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.btn-primary {
    color: #fff;
    background-color: #ce7426!important;
    border-color: #b9651c!important;
}
.btn-primary:hover {
    color: #fff;
    background-color: #bb6820!important;
    border-color: #94541d!important;
}
.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary, 
.btn-primary.focus, .btn-primary:focus {
    color: #e7f3c7;;
    background-color: #9c571c!important;
    border-color: #844a1a!important;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn,
.btn.disabled:hover, .btn[disabled]:hover, fieldset[disabled] .btn:hover {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .75;
    background-color: #b7b1b1!important;
    border-color: #ad9a94!important;
}
/*button - END*/

/*Modal - START*/
.modal-header,.modal-footer{
    padding: 10px 15px;
}
.modal-body{
    padding: 20px 15px;
}
/*Modal - END*/

@media (max-width: 767px){
    .container-fluid{
        padding: 5px;
    }
}
/*Datepicker styles - START*/
/* .ui-datepicker select.ui-datepicker-year {
    width: 35%!important;
}
.ui-datepicker select.ui-datepicker-month{
    width: 55%!important;
}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    width: 45%;
}
.ui-datepicker .ui-datepicker-title select {
    font-size: 11px;
}
.hide-dp .ui-datepicker-trigger{
    pointer-events: none;
    display: none;
}
.ui-datepicker-trigger{
    width: 20px;
    height: 19px;
    position: absolute;
    top: 2px;
    right: 18px;
    cursor: pointer;
    -webkit-filter: opacity(50%);
    filter: opacity(50%);
}
.ui-datepicker-trigger:hover{
    -webkit-filter: opacity(100%); /* Safari 6.0 - 9.0 */
    filter: opacity(100%);
} */
/*Datepicker styles - END*/

/*Login form - START*/
.login-form-1 {
    max-width: 300px;
    border-radius: 5px;
    display: inline-block;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075); 
}
.main-login-form {
    position: relative;
}
.login-form-1 .form-control {
    border: 0; 
    box-shadow: 0 0 0 ; 
    border-radius: 0;
    background: transparent;
    color: #555555;
    padding: 7px 0;
    font-weight: bold;
    height:auto;
    border-radius: 8px;
    text-align: center;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.login-form-1 .form-control::-webkit-input-placeholder {
    color: #999999;
}
.login-form-1 .form-control:-moz-placeholder,
.login-form-1 .form-control::-moz-placeholder,
.login-form-1 .form-control:-ms-input-placeholder {
    color: #999999;
}
.login-form-1 .form-group {
    margin-bottom: 0;
    border-bottom: 2px solid #efefef;
    padding-right: 20px;
    position: relative;
}
.login-form-1 .form-group:last-child {
    border-bottom: 0;
}
.login-group {
    background: #ffffff;
    color: #999999;
    border-radius: 8px;
    padding: 10px 20px;
}
.login-group-checkbox {
    padding: 5px 0;
}
.login-form-1 .login-button {
    position: absolute;
    right: -25px;
    top: 50%;
    background: #ffffff;
    color: #999999;
    padding: 11px 0;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    border: 5px solid #efefef;
    border-radius: 50%;
    transition: all ease-in-out 500ms;
}
.login-form-1 .login-button:hover {
    color: #555555;
    transform: rotate(450deg);
}
.login-form-1 .login-button.clicked {
    color: #555555;
}
.login-form-1 .login-button.clicked:hover {
    transform: none;
}
.login-form-1 .login-button.clicked.success {
    color: #2ecc71;
}
.login-form-1 .login-button.clicked.error {
    color: #e74c3c;
}
.logo {
    padding: 15px 0;
    font-size: 24px;
    font-weight: bold;
    color: #e7f3d5;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    text-shadow: 2px 1px 1px rgb(58, 24, 10);
}
/*.logo:hover {
    font-size: 25px;
}*/
.login-container{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #4e2706;
    z-index: 999;
    background-image: url('../../img/bg_login.jpg');
    background-size: cover;
}
.login-form-1 .form-control{
    margin: 10px 0;
}
.etc-login-form p, .etc-login-form a{
    margin: 15px 0 ;
    font-size: 16px;
    color: #e7f3d5;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    text-shadow: 2px 1px 1px rgb(58, 24, 10);
    font-weight: bold;
}
.etc-login-form a{
    text-decoration: underline;
}
.etc-login-form a:hover{
    color: #fff;
}
/*Login form - END*/

/*GENERAL STYLES - START*/
table{
    table-layout: fixed;
}

.tab-content {
    padding: 15px;
    border-bottom: 1px solid #E5E5E5;
    border-left: 1px solid #E5E5E5;
    border-right: 1px solid #E5E5E5;
}

.grid {
    min-width: 400px;
    max-width: 500px;
    height: 250px;
}

.ui-grid-render-container-body .ui-grid-header-canvas {
    height: 30px !important;
}
/*GENERAL STYLES - END*/
.full-page{
    top: 0;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    background-color: white;
    z-index: 9999;
}
/* nav - START */
@media (min-width: 768px){
    #page-wrapper {
        position: inherit;
        margin: 50px 0 0 200px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 200px;
        margin-top: 50px;
    }
}
@media (max-width: 768px){
    .navbar {
        position: inherit!important;
    }
}
/* nav - END */

.page-header {
    padding: 0;
    margin: 10px 0;
    border-bottom: 1px solid #eee;
}

.help-block{
    font-style: italic;
    color: gray;
}