<form class="box-2" role="form" name="foundItemForm" id="foundItemForm" ng-controller="foundItemCtrl">
    <div class="col-lg-6 col-md-6 col-xs-12 box-4">
        <h3 class="page-header">Thêm vật nhặt được</h3>
        <div class="col-lg-6 col-md-12 col-xs-12">
            <div class="form-group">
                <label class="control-label">Thể loại *</label>
                <select name="itemType" required ng-change="changeCategory()" ng-model="item.categoryId" type="text" class="form-control input-sm" ng-class="{'has-error': foundItemForm.itemType.$touched && foundItemForm.itemType.$invalid }">
                    <option value="" ng-selected="true">Chọn thể loại...</option>
                    <option value="{{cat.categoryId}}" ng-repeat="cat in categoryList">{{cat.categoryName}}</option>
                </select>
            </div>
            <div ng-repeat="field in category | orderBy: filed.displayOrder" class="form-group">
                <label class="control-label">{{field.label}}
                    <span ng-if="field.isRequired"> *</span>
                </label>
                <input name="field{{$index}}" ng-model="field.helpText" ng-required="field.isRequired" type="text" class="form-control input-sm" ng-class="{'has-error': foundItemForm.field{{$index}}.$touched && foundItemForm.field{{$index}}.$invalid}">
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-xs-12">
            <div class="form-group">
                <label class="control-label">Vị trí *</label>
                <select required name="itemLoc" ng-model="item.locationId" type="text" class="form-control input-sm" ng-class="{'has-error': foundItemForm.itemLoc.$touched && foundItemForm.itemLoc.$invalid}">
                    <option value="" ng-selected="true">Chọn nơi làm thất lạc...</option>
                    <option value="{{loc.locationId}}" ng-repeat="loc in locationList">{{loc.name}}</option>
                </select>
                <p class="help-block">Nơi tìm được vật</p>
            </div>
            <!-- <div class="form-group">
                    <label class="control-label">Nơi lưu trữ vật</label>
                    <select required ng-model="item.storageId" type="text" class="form-control input-sm">
                        <option value="" ng-selected="true">Chọn nơi lưu trữ vật...</option>
                        <option value="{{sto.storageId}}" ng-repeat="sto in storageList">{{sto.name}}</option>
                    </select>
                    <p class="help-block">Nơi đang lưu trữ vật</p>
                </div> -->
            <div class="form-group">
                <label class="control-label">Thông tin khác</label>
                <textarea ng-model="item.otherDetails" type="text" class="form-control input-sm"></textarea>
                <p class="help-block">Nhập thêm một số thông tin để mô tả vật bị thất lạc</p>
            </div>
            <div class="form-group">
                <label class="control-label">Thời điểm nhặt được *</label>
                <!-- <input required name="itemLostAt" ng-model="item.lostAt" placeholder="yyyy-mm-dd" type="text" class="form-control input-sm"
                        ng-class="{'has-error': foundItemForm.itemLostAt.$touched && foundItemForm.itemLostAt.$invalid}"> -->
                <p class="input-group sm">
                    <input required readonly name="itemLostAt" placeholder="yyyy-mm-dd" type="text" class="form-control input-sm" uib-datepicker-popup="yyyy-MM-dd" ng-model="item.lostAt" is-open="openDatePicker" datepicker-options="dateOptions" close-text="Đóng" ng-class="{'has-error': foundItemForm.itemLostAt.$touched && foundItemForm.itemLostAt.$invalid}" />
                    <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openDP()"><i class="fa fa-calendar"></i></button>
                        </span>
                </p>
                <p class="help-block">Theo giờ Việt Nam</p>
            </div>
            <div class="form-group">
                <label class="control-label">Nơi giữ vật *</label>
                <select required name="itemSto" ng-model="item.storageId" type="text" class="form-control input-sm" ng-class="{'has-error': foundItemForm.itemSto.$touched && foundItemForm.itemSto.$invalid}">
                    <option value="" ng-selected="true">Chọn nơi lưu trữ vật...</option>
                    <option value="{{sto.storageId}}" ng-repeat="sto in storageList">{{sto.name}}</option>
                </select>
                <p class="help-block">Nơi vật này được cất giữ</p>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-xs-12 box-4">
        <h3 class="page-header">Thông tin người nhặt được vật</h3>
        <div class="col-lg-6 col-md-12 col-xs-12">
            <div class="form-group">
                <label class="control-label">Họ *</label>
                <input required name="lastName" ng-model="item.lastName" type="text" class="form-control input-sm" ng-class="{'has-error': foundItemForm.lastName.$touched && foundItemForm.lastName.$invalid}">
            </div>
            <div class="form-group">
                <label class="control-label">Địa chỉ email *</label>
                <input required ng-pattern="emailPattern" name="email" ng-model="item.emailAddress" type="text" class="form-control input-sm" ng-class="{'has-error': foundItemForm.email.$touched && foundItemForm.email.$invalid}">
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-xs-12">
            <div class="form-group">
                <label class="control-label">Tên *</label>
                <input required name="firstName" ng-model="item.firstName" type="text" class="form-control input-sm" ng-class="{'has-error': foundItemForm.firstName.$touched && foundItemForm.firstName.$invalid}">
            </div>
            <div class="form-group">
                <label class="control-label">Số điện thoại</label>
                <input ng-model="item.contactPhoneNo" type="text" class="form-control input-sm">
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-xs-12 box-5">
        <h3 class="page-header">Đăng hình ảnh</h3>
        <div class="col-xs-12">
            <div class="dropzone" ngf-drop ngf-select ng-model="fileImg" ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="true" accept="image/*,application/pdf" ngf-pattern="'image/*,application/pdf'" id="itemImageUploader">
                <div ng-hide="fileImg" class="dz-message">
                    <i class="fa fa-2x fa-picture-o"></i>
                    <br>
                    <span>Bấm vào để lấy hình hoặc kéo thả hình ảnh vào đây
                            </span>
                    <span ngf-no-file-drop>
                                <br>Chức năng kéo thả không hỗ trợ trên trình duyệt này
                            </span>
                </div>
                <img ng-show="fileImg" class="img-preview" ng-src="{{item.image}}" />
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="form-group">
                <button type="button" class="btn btn-primary btn-xs" ng-click="save()">
                    <i class="fa fa-floppy-o"></i> Lưu</button>
                <!-- <button type="button" class="btn btn-primary btn-xs" ng-click="reset()">
                    <i class="fa fa-plus"></i> Lưu & Tìm thêm vật khác</button> -->
            </div>
        </div>
    </div>
</form>