<link href="lib/custom/custom.css" rel="stylesheet">

<div ng-controller="locationEditCtrl" class="row">
	<h3 class="page-header">Chỉnh sửa địa điểm</h3>
	<form role="form" class="form">
		<div class="row">
			<div class="col-md-8 col-lg-6 col-lg-push-3">
				<div class="box box-default">
					<div class="box-body clearfix">
						<div class="row">
							<div class="col-xs-6">
								<div class="form-group ">
									<label class="control-label required" for="control_panel_user_firstName">Tên địa điểm</label>
									<input type="text" class="form-control" ng-model='item.name'></div>
							</div>
							<div class="col-xs-6">
								<div class="form-group ">
									<label class="control-label required" for="control_panel_user_lastName">Mô Tả</label>
									<input type="text" class="form-control" ng-model='item.description'></div>
							</div>
						</div>
					</div>
				</div>
				<div class="box box-success">
					<div class="box-body">
						<div class="text-center">
							<button type="submit" class="btn btn-success" ng-click='save()'><i class="fa fa-check"></i>&nbsp; Lưu Thay Đổi</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
