<div class="row gap-20">
    <div class="col-md-3 box-1 bg-green">
        <h6 class="lbl-1">Thể loại</h6>
        <div class="lbl-2">
            <div class="lbl-2a">Xem danh sách</div>
            <div class="lbl-2b">26</div>
        </div>
    </div>
    <div class="col-md-3 box-1 bg-red">
        <h6 class="lbl-1">Thành viên</h6>
        <div class="lbl-2">
            <div class="lbl-2a">Xem danh sách</div>
            <div class="lbl-2b">12</div>
        </div>
    </div>
    <div class="col-md-3 box-1 bg-purple">
        <h6 class="lbl-1">Vật đang thất lạc</h6>
        <div class="lbl-2">
            <div class="lbl-2a">Xem danh sách</div>
            <div class="lbl-2b">12</div>
        </div>
    </div>
    <div class="col-md-3 box-1 bg-blue">
        <h6 class="lbl-1">Vật tìm thấy</h6>
        <div class="lbl-2">
            <div class="lbl-2a">Xem danh sách</div>
            <div class="lbl-2b">13</div>
        </div>
    </div>
</div>